presentation/*.log
presentation/*.nav
presentation/*.out
presentation/*.aux
presentation/*.snm
presentation/*.synctex.gz
presentation/*.toc
.gitignore
*.log
*.nav
*.out
*.snm
*.toc
*.aux
*.gz
.idea

src/.metadata*
src/csibelia/.*
