presentation/*.log
presentation/*.nav
presentation/*.out
presentation/*.aux
presentation/*.snm
presentation/*.synctex.gz
presentation/*.toc
.gitignore
presentation/April28/SyntenyBuilder.aux
*.log
*.nav
*.out
*.snm
*.toc
presentation/April28/SyntenyBuilder.synctex.gz
*.aux
*.gz
